
.vagrant/*
.idea/*
/node_modules
/public/
/public/css/
/public/images/
/public/js/
/public/fonts/
/public/socket.io/
public/css/*
public/images/*
public/js/*
public/fonts/*
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor

Homestead.yaml
Homestead.json
.env
/.vagrant/
/.idea/
